<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<head>
	<title>好友</title>

	<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
	<link href="http://bootstrap.evget.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://bootstrap.evget.com/examples/offcanvas/offcanvas.css" rel="stylesheet">
	<link rel="shortcut icon" href="http://bootstrap.evget.com/assets/ico/favicon.ico">
    	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    {% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="/css/position.css">
	<script type="text/javascript" src="/css/friend.js"></script>
</head>
<style>
	img{
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius:2px;
    }
    .mynav1{
    width:100px;
    height:200px;
    float:left;}
        .mynav2{
    width:100px;
    height:200px;
    float:left;}
        .mynav3{
    width:100px;
    height:200px;
    float:right;}
</style>
<body>
	<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">工大圈子</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ><a href="{% url 'home' username %}">新闻和课程</a></li>
            <li class="active"><a href="{% url 'friendt' username %}">好友</a></li>
            <li><a href="{% url 'self_page' username %}">个人主页</a></li>
          </ul>
		  <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
            <img src="/img/{{ username }}_icon.jpg"  onerror="javascript:this.src='/img/default_icon.jpg';" width="25" height="25" alt="你还没有头像"/>
			  <a href="{% url 'userinfo' username=username %}">{{ username }}</a>
              <!--input type="text" placeholder="账号" class="form-control"-->
            </div>
            <!--div class="form-group">
              <input type="password" placeholder="密码" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">登录</button-->
			<a class="btn btn-link" href="{% url 'logout' %}">退出登录</a>
          </form>
        </div><!-- /.nav-collapse -->	
      </div><!-- /.container -->
    </div><!-- /.navbar -->
	
	<div class="friend-content">
	
		<div class="personal-inf">
			<div class="mynav1">
				<img src="/img/{{ username }}_icon.jpg"  onerror="javascript:this.src='/img/default_icon.jpg';" width="80" height="80" alt="你还没有头像">
			</div>
            <div class="mynav2">
				<h4>{{ username }}</h4>
			</div>
            <div class="mynav3">
            <iframe name="sinaWeatherTool"   
            src="http://weather.news.sina.com.cn/chajian/iframe/weatherStyle32.html?city=%E5%93%88%E5%B0%94%E6%BB%A8" 
            width="200" height="200" marginwidth="0" marginheight="0" hspace="0" 
            vspace="0" frameborder="0" scrolling="no"></iframe>
			</div>
		</div>
        
		<div class="henglakuang">
			<ul id="myTab" class="nav nav-tabs">
				<li class="active">
					<a href="/demo/bootstrap3-plugin-tab.htm#friend_list" data-toggle="tab">好友列表</a>
				</li>
				<li>
					<a href="/demo/bootstrap3-plugin-tab.htm#friend_recommand" data-toggle="tab">推荐好友</a>
				</li>
				<li>
					<a href="/demo/bootstrap3-plugin-tab.htm#friend_request" data-toggle="tab">未读消息</a>
				</li>
				<li>
					<a href="/demo/bootstrap3-plugin-tab.htm#friend_submit" data-toggle="tab">好友请求</a>
				</li>
				<li>
					<a href="/demo/bootstrap3-plugin-tab.htm#friend_ask" data-toggle="tab">查询用户</a>
				</li>
			</ul>
			
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade in active" id="friend_list">
					<div>
						<table class="table-title">
							<tr>
								<td class="table-size"><h4><b>头像</b></h4></td>
								<td class="table-size"><h4><b>用户名</b></h4></td>
								<td class="table-size"><h4><b>选项</b></h4></td>
							</tr>
							{% if mylist %}
                                {% for f in mylist %}
                                    <tr>
                                        <td class="table-size"><a href="#个人主页"><img src="/img/{{ f.username }}_icon.jpg" onerror="javascript:this.src='/img/default_icon.jpg';" width="50" height="50"></a></td>
                                        <td class="table-size"><a href="#个人主页">{{ f.username }}</a></td>
                                    {% if f.ReqDir == -1 %}
                                        <td class="table-size">等待对方确认</td>
                                    {% else %}
                                        {% if f.ReqDir == 0 %}
                                        <td class="table-size"><a href="{% url 'SendMesg' username=username friendID=f.id  %}" class="btn btn-info">给他/她私信</a></td>
                                        {% endif %}
                                    {% endif %}
                                    </tr>
                                {% endfor %}
                            {% else %}
                            <p>你还没有好友呢</p>
                            {% endif %}
						</table>
					</div>
					
					<div style="margin-left:250px">
						<ul class="pagination">
							<li><a href="#">&laquo;</a></li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">&raquo;</a></li>
						</ul>
					</div>
				</div>
				<div class="tab-pane fade" id="friend_recommand">
					<div>
						<table class="table-title">
							<tr>
								<td class="table-size"><h4><b>头像</b></h4></td>
								<td class="table-size"><h4><b>用户名</b></h4></td>
								<td class="table-size"><h4><b>添加</b></h4></td>
							</tr>
							
							<tr>
								<td class="table-size"><a href="#个人主页"><img src="friendcss/11.jpg" onerror="javascript:this.src='/img/default_icon.jpg';" width="50" height="50"></a></td>
								<td class="table-size"><a href="#个人主页">哈哈</a></td>
								<td class="table-size"><a href="#私信" class="btn btn-info">添加为好友</a></td>
							</tr>
							
							
						</table>
					</div>
					
					<div style="margin-left:250px">
						<ul class="pagination">
							<li><a href="#">&laquo;</a></li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">&raquo;</a></li>
						</ul>
					</div>
				</div>
<div class="tab-pane fade" id="friend_request">
{% if Info %}
<table>
	{% for info in Info %}
    <tr><td>
    <div  style="margin-bottom:50px;margin-top:25px; margin-left:50px;">
    <div width="200" height="50">
    		<h4>{{ info.1.username }}向你发送消息：</h4>
    		<h5>发送时间：{{ info.0.Time|date:"Y-m-d H:i:s"}}</h5>
    </div>
    <div width="900" height="100">
    	<p>内容：{{ info.0.Content }}</p>
    </div>
    <a href="{% url 'SendMesg' username=username friendID=info.1.id %}" class="btn btn-info">回复</a>
    <a href="{% url 'MarkRead' info.0.id %}" class="btn btn-info">标记为已读</a>
    </div>
    </td>
    </tr>
	{% endfor %}
</table>
{% else %}
<div class="list-group">
<a href="#" class="list-group-item">无！</a>
</div>
{% endif %}

<div style="margin-left:250px">
		<ul class="pagination">
			<li><a href="#">&laquo;</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">&raquo;</a></li>
		</ul>
	</div>
</div>
<div class="tab-pane fade" id="friend_submit">
{% for f in mylist %}
{% if f.ReqDir == 1 %}
<div class="friend-request">
	<div width="200" height="20">
			<h4>用户{{ f.username }}请求添加你为他/她的好友：<a href="{% url 'addfriendconfirm' username=username friendID=f.id %}" class="btn btn-info">同意</a></h4>
	</div>
</div>
{% endif %}
{% endfor %}

					<div style="margin-left:250px">
						<ul class="pagination">
							<li><a href="#">&laquo;</a></li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">&raquo;</a></li>
						</ul>
					</div>
				</div>
<div class="tab-pane fade" id="friend_ask">
	<div class="friend-ask" style="margin-top:50px">
		<form class="form-signin" method="get" action="">
			<input class="input-block-level" placeholder="输入要查找的用户名(模糊查找)" type="text" name="SearchChar" style="width:500px;height:34px;">
			<button class="btn btn-large btn-primary" type="submit">查找</button>
		</form>
	</div>
{% if HasSearch %}
    {% if Results %}
        <table class="table-title">
        <tr>
            <td class="table-size"><h4><b>头像</b></h4></td>
            <td class="table-size"><h4><b>用户名</b></h4></td>
            <td class="table-size"><h4><b>关系</b></h4></td>
        </tr>
        {% for f in Results %}
            {% ifequal f.username username %}
            {% else %}
            <tr>
            <td class="table-size"><a href="#个人主页"><img src="/img/{{ f.username }}_icon.jpg" onerror="javascript:this.src='/img/default_icon.jpg';" width="50" height="50"></a></td>
            <td>{{ f.username }}</td>
                {% if f in friends %}
                <td class="table-size">已经是好友了</td>
                {% else %}
                <td class="table-size"><a href="{% url 'addfriend' username=username friendID=f.id %}" class="btn btn-info">添加为好友</a></td>
                {% endif %}
            </tr>
            {% endifequal %}
        {% endfor %}
        </table>
    {% else %}
<h3>用户"{{ SearchChar }}"不存在!</h3>
    {% endif %}
{% endif %}
</div>
                

			</div>
		</div>
	</div>
	<div class="jianyi">哈尔滨工业大学 super_god</div>
</body>

</html>