    <html> 
    <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <title>倒计时</title> 
    </head> 
    <body>
    <script type="text/javascript"> 
    var t=3;//设定跳转的时间 
    setInterval("refer()",1000); //启动1秒定时 
    function refer(){  
        if(t==0){ 
            location="{{ urlx }}"; //#设定跳转的链接地址 
        } 
        document.getElementById('show').innerHTML="{{ display }}"+t+" 秒后跳转到上一界面"; // 显示倒计时 
        t--; // 计数器递减 
        //本文转自： 
    } 
    </script> 
    <span id="show"></span> 
    </body> 
    </html> 